<h1>PRODUCTOS</h1>
<p-splitter [style]="{ height: '100vh' }" styleClass="mb-8">
    <ng-template #panel>
        <div class="flex items-center justify-center h-full">
            <p-dataview #dv [value]="Listaproductos" layout="grid">
                <ng-template #grid let-productos>
                    <div class="grid grid-cols-12 gap-4">
                        <div *ngFor="let producto of productos" class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2">
                            <div
                                class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col"
                            >
                                <div class="bg-surface-50 flex justify-center rounded p-4">
                                    <div class="relative mx-auto">
                                        <img
                                            class="rounded w-full"
                                            [src]="producto.imagen_url"
                                            [alt]="productos.producto_nombre"
                                            style="max-width: 90px"
                                        />
                                    </div>
                                </div>
                                <div class="flex flex-row justify-between products-start gap-2">
                                    <div>
                                        <div class="producto-nombre">{{ producto.nombre }}</div>
                                    </div>
                                </div>
                                <div class="pt-6">
                                    <div class="flex flex-col gap-6 mt-6">
                                        <span class="text-2xl font-semibold">{{ producto.precio | currency: 'PEN' }}</span>
                                        <div class="flex gap-2">
                                            <p-dropdown
                                              [options]="tallas"
                                              [(ngModel)]="producto.unidadSeleccionada"
                                              optionLabel="unidad"
                                              placeholder="Selecciona talla"

                                            />
                                            <p-inputNumber class="cantidad-input"
                                              [(ngModel)]="producto.cantidadSeleccionada"
                                              [min]="1"
                                              placeholder="Cantidad"

                                            />
                                            <button
                                                pButton
                                                icon="pi pi-shopping-cart"
                                                label="Agregar"
                                                class="flex-auto whitespace-nowrap"
                                                (click)="agregarProducto(producto, producto.unidadSeleccionada)"
                                            ></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataview>
        </div>
    </ng-template>
    <ng-template #panel>

        <div class="flex items-center justify-center h-full w-full">
          <p-table [value]="detalles" [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 15%">Producto</th>
                <th style="width: 10%">Imagen</th>
                <th style="width: 10%">Cantidad</th>
                <th style="width: 15%">Precio Unitario</th>
                <th style="width: 15%">Precio con Descuento</th>
                <th style="width: 15%">Subtotal</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-detalle>
              <tr>
                <td>{{ detalle.producto_nombre }}</td>

                <td>
                  <img
                    [src]="detalle.imagen_url"
                    [alt]="detalle.producto_nombre"
                    style="max-width: 60px; border-radius: 8px"
                  />
                </td>
                <td>
                      <p-inputNumber class="cantidad-input"
                            [(ngModel)] = "detalle.cantidad"
                            [showButtons] = "true"
                            [min] = "1"
                            (ngModelChange) = "actualizarSubtotal(detalle)"
                      ></p-inputNumber>
                </td>
                <td>
                  {{ detalle.producto_precio | currency: 'PEN' }}
                </td>

                <td>
                  {{ detalle.subtotalxunidad | currency: 'PEN' }}
                </td>

                <td>
                  {{ detalle.subtotal | currency: 'PEN' }}
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="footer">
              <tr>
                <td colspan="5" class="text-right font-bold">Total</td>
                <td class="font-bold">S/ {{ totalPedido | number: '1.2-2' }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </ng-template>
</p-splitter>
