<div class="login-wrapper">
  <div class="login-image">
    <img src="assets/futbol.jpg" alt="Fútbol">
  </div>

  <div class="login-form">
    <h2>Iniciar sesión</h2>
    <p class="subtitle">Ingrese sus datos para iniciar sesión</p>

    <div class="p-fluid form-fields">
      <div class="form-group">
        <label for="name">Nombre completo</label>
        <input id="name" type="text" pInputText [(ngModel)]="username"/>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input id="password" type="password" pInputText [(ngModel)]="password"/>
      </div>

      <button pButton class="p-button-primary mt-4 full-width" (click)="login()">Iniciar sesión</button>

      <a class="login-link" href="#">¿No tienes una cuenta? Regístrate</a>
    </div>
  </div>
</div>
