<h1>PEDIDOS</h1>
<!-- READ -> TABLA -->

<p-table [value]="pedidos" [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
        <tr>
            <th style="width:20%">ID</th>
            <th style="width:20%">CARRITO</th>
            <th style="width:20%">FECHA DE PEDIDO</th>
        </tr>
    </ng-template>
    <ng-template #body let-pedido let-ri="rowIndex">
        <tr [pEditableRow]="pedido">
            <td>
              {{pedido.id}}
            </td>
            <td>
              {{pedido.carrito}}
            </td>
            <td>
              {{pedido.fecha_pedido}}
            </td>
        </tr>
    </ng-template>
</p-table>
