<h1>Productos</h1>
<p-button label="Nuevo Producto" icon="pi pi-plus" class="mr-2" (onClick)="abrirDialogo()" />
<p-table [value]="productos" [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
        <tr>
            <th style="width:20%">ID</th>
            <th style="width:20%">NOMBRE</th>
            <th style="width:20%">DESCRIPCIÓN</th>
            <th style="width:20%">PRECIO</th>
            <th style="width:20%">IMAGEN</th>
            <th style="width:20%">CATEGORÍA</th>
            <th style="width:20%">PROVEEDOR</th>
            <th style="width:20%">PROMOCIÓN</th>
            <th style="width:20%">OPCIONES</th>
        </tr>
    </ng-template>
    <ng-template #body let-producto let-ri="rowIndex">
        <tr>
            <td>
                {{ producto?.id }}
            </td>
            <td>
                {{ producto.nombre }}
            </td>
            <td>
                {{ producto.descripcion }}
            </td>
            <td>
                {{ producto.precio }}
            </td>
            <td>
                <img src="{{producto.imagen_url}}" class="producto-imagen" alt="Imagen de {{ producto.nombre }}" />
            </td>

            <td>
                {{ producto.nombre_categoria }}
            </td>

            <td>
                {{ producto.nombre_proveedor }}
            </td>
            <td>
                {{ producto.nombre_promocion }}
            </td>
            <td>
                <div class="flex items-center justify-center gap-2">
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        (click)="editarProducto(producto)"
                        text
                        rounded
                        severity="secondary"
                        title="Editar producto"
                    ></button>
                    <!-- DELETE -> Boton -->
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-times"
                        (click)="eliminarProducto(producto)"
                        text
                        rounded
                        severity="secondary"
                        title="Eliminar producto"
                    ></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- CREATE y UPDATE -> Formulario -->
<p-dialog header="Creación/Edición de Productos" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-4">
        <label for="producto" class="font-semibold w-24">Nombre</label>
        <input pInputText id="producto" class="flex-auto" autocomplete="off" [(ngModel)]="productoDialogo.nombre"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="descripcion" class="font-semibold w-24">Descripción</label>
        <input pInputText id="descripcion" class="flex-auto" autocomplete="off" [(ngModel)]="productoDialogo.descripcion"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="precio" class="font-semibold w-24">Precio</label>
        <input pInputText id="precio" class="flex-auto" autocomplete="off" [(ngModel)]="productoDialogo.precio"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="imagen" class="font-semibold w-24">Imagen</label>
        <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" accept="image/*" (onSelect)="onBasicUploadAuto($event)" chooseLabel="Elegir Imagen" />
    </div>

    <div class="flex items-center gap-4 mb-4">
        <label for="categoria" class="font-semibold w-24">Categoría</label>
        <p-select id="categoria" [options]="categorria" [(ngModel)]="categoriaSeleccionada" optionLabel="nombre" placeholder="Seleccione una categoría" class="w-full md:w-56" />
    </div>

    <div class="flex items-center gap-4 mb-4">
        <label for="proveedor" class="font-semibold w-24">Proveedor</label>
        <p-select id="proveedor" [options]="proveedor" [(ngModel)]="proveedorSeleccionado" optionLabel="nombre" placeholder="Seleccione un proveedor" class="w-full md:w-56" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="promocion" class="font-semibold w-24">Promoción</label>
        <p-select id="promocion" [options]="promocion" [(ngModel)]="promocionSeleccionada" optionLabel="nombre" placeholder="Seleccione una promoción" class="w-full md:w-56" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
        <p-button label="Guardar" (click)="guardarProducto()" />
    </div>
</p-dialog>
