<h1>Administradores</h1>
<p-button label="Nuevo Administrador" icon="pi pi-plus" (onClick)="abrirModal()"></p-button>

<p-table [value]="administradores" [tableStyle]="{'min-width': '40rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>ID Usuario</th>
      <th>Tipo</th>
      <th>Opciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-admin>
    <tr>
      <td>{{ admin.username }}</td>
      <td>{{ admin.tipo_nombre }}</td>
      <td>
        <button pButton icon="pi pi-pencil" (click)="editarAdministrador(admin)" text></button>
        <button pButton icon="pi pi-trash" (click)="eliminarAdministrador(admin)" severity="danger" text></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Formulario -->
<p-dialog header="Formulario Administrador" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <div class="flex items-center gap-4 mb-4">
    <label class="font-semibold w-24">Usuario:</label>
    <p-select
      [options]="usuarios"
      [(ngModel)]="usuariosSeleccionado"
      optionLabel="username"
      placeholder="Seleccionar usuario"
      class="w-full md:w-56">
    </p-select>
  </div>
  <div class="flex items-center gap-4 mb-4">
    <label class="font-semibold w-24">Tipo:</label>
    <p-select
      [options]="tiposadmin"
      [(ngModel)]="tiposadminSeleccionado"
      optionLabel="tipo"
      placeholder="Seleccionar tipo"
      class="w-full md:w-56">
    </p-select>
  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Cancelar" severity="secondary" (click)="visible = false"></p-button>
    <p-button label="Guardar" (click)="guardarAdministrador()"></p-button>
  </div>
</p-dialog>
