<div class="card">
    <p-galleria [value]="images" [showIndicators]="true"
    [showThumbnails]="false" [changeItemOnIndicatorHover]="true"
    [containerStyle]="{ 'max-width': '600px' }">
        <ng-template #item let-item>
            <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
        </ng-template>
    </p-galleria>
</div>

<div class="card flex justify-center align-center gap-4">
    <p-message severity="success">
        <ng-template #icon>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        </ng-template>
        <span class="ml-2">OFERTAS</span>
    </p-message>
</div>
<div>
  <h2>Ventas Relampago</h2>
    <p-fluid class="card flex flex-wrap gap-4">
        <div class="flex-auto">
            <label for="calendar-12h" class="font-bold block mb-2"> 12h Format </label>
            <p-datepicker inputId="calendar-12h" [(ngModel)]="datetime12h" [showTime]="true" [hourFormat]="'12'" />
        </div>
    </p-fluid>
</div>

